.Cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 20px;
}

.Favorites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Card {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
}

button {
    background-color: transparent;
    border: 3px solid #FF8A00;
    border-radius: 5px;
    padding: 15px;
}

button:hover {
    cursor: pointer;
}

.Card img {
    width: 100%;
    object-fit: cover;
}
